$primary-text: #2c2c2c;
$secondary-text: white;
$tertiary-text: #254a9f;
$quaternary-text: #a09fa9;
$quinary-text: #339235;

$primary-background:#fff3f3;
$secondary-background: #5b191a;
$tertiary-background: #0e0d0d;
$quaternary-background: #cecece;
$quinary-background: rgba(255, 255, 255, 0.5);